body.wpe-wps-jobs.wpe-wps-cannot-manage .wpe_wpspace #wpe-wps-content #wpe-wps-content-inner .wpe-wps-content-box {
  padding: 0;
  border: none;
}
body.wpe-wps-jobs.wpe-wps-cannot-manage .wpe_wpspace #wpe-wps-content #wpe-wps-content-inner .wpe-wps-content-box #spaces-wpjm div.job_listings {
  margin-bottom: 0;
}

#spaces-wpjm {
  min-height: 64px;
  margin: 0 auto;
  position: relative;
  flex: 1;
  /**
  Create Job Screen
   */
  /**
  Job Preview
   */
  /**
  Job Applications
   */
  /**
  Filters
   */
  /**
  Job Listings
   */
  /**
  Job Dashboard
   */
}
#spaces-wpjm nav ul {
  display: flex;
}
#spaces-wpjm nav ul li {
  cursor: pointer;
}
#spaces-wpjm nav ul li.selected a:hover {
  background: none;
}
#spaces-wpjm .job-manager-form .fieldset-type-term-multiselect select {
  width: 100%;
}
#spaces-wpjm .job-manager-form .fieldset-type-wp-editor .wp-editor-area {
  color: #000;
}
#spaces-wpjm #job_preview .job_listing_preview_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#spaces-wpjm #job_preview .wpe-wps-job-header {
  cursor: not-allowed;
}
#spaces-wpjm #job-manager-job-applications footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#spaces-wpjm #job-manager-job-applications footer .actions li a {
  padding: 1em;
}
#spaces-wpjm #job-manager-job-applications footer .actions li a i {
  font-size: 1.5em;
}
#spaces-wpjm #job-manager-job-applications footer .actions li a:before {
  font-size: 1.5em;
}
#spaces-wpjm #job-manager-job-applications footer .actions .space-message a:before {
  display: none;
}
#spaces-wpjm #job-manager-job-applications footer .actions .notes a:before {
  content: "\f186";
}
#spaces-wpjm .job_filters .search_remote_position {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  line-height: 1;
}
#spaces-wpjm .job_filters .job_types label {
  font-size: 1.1em;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
#spaces-wpjm .job_filters input[type=checkbox] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
#spaces-wpjm .job_filters input[type=checkbox]:before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
#spaces-wpjm .job_filters input[type=checkbox]:checked:before {
  transform: scale(1);
}
#spaces-wpjm .job_filters .select2-selection {
  height: 41px;
}
#spaces-wpjm .job_filters .select2-selection .select2-selection__placeholder {
  font-size: 15px;
  color: #bdbdbd;
  line-height: 36px;
}
#spaces-wpjm .job_filters .select2-selection .select2-selection__arrow {
  top: 8px;
}
#spaces-wpjm .job_filters .select2-selection__clear {
  margin-top: 0;
}
#spaces-wpjm ul.job_listings {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
#spaces-wpjm ul.job_listings .job_listing {
  border-radius: 0;
  border-left: 4px solid transparent;
}
#spaces-wpjm ul.job_listings .job_listing.status-expired .wpe-wps-job-header {
  cursor: auto;
}
#spaces-wpjm ul.job_listings .job_listing.status-expired .wpe-wps-job-header:hover {
  box-shadow: none;
  background-color: initial;
}
#spaces-wpjm ul.job_listings .job_listing.status-expired .wpe-wps-job-header:hover .position h3 {
  color: initial;
}
#spaces-wpjm ul.job_listings .job_listing.status-expired .chevron i {
  display: none;
}
#spaces-wpjm ul.job_listings .job_listing.status-expired .wpe-wps-expired-message {
  display: inline !important;
}
#spaces-wpjm ul.job_listings .job_listing.job_position_featured .wpe-wps-job-header {
  background-color: #fffcee;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header {
  cursor: pointer;
  padding: 25px;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .company_logo {
  position: relative;
  left: 0;
  width: 60px;
  margin-right: 20px;
  display: none;
}
@media (min-width: 768px) {
  #spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .company_logo {
    display: block;
  }
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .listing-title-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  #spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .listing-title-upper {
    display: block;
  }
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .position {
  padding: 0 0 5px 0;
  width: auto;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .position h3 {
  font-size: 1.15em;
  margin-bottom: 0;
  display: flex;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .position h3 .job-manager-applications-applied-notice {
  top: 0;
  margin-left: 5px;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .position h3 .job-manager-applications-applied-notice:before {
  font-size: inherit;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .wpe-wps-expired-message {
  display: none;
  margin-left: 10px;
  border: 1px solid darkred;
  color: darkred;
  text-transform: uppercase;
  padding: 3px;
  font-size: 0.75em;
  border-radius: 3px;
  background-color: rgba(139, 0, 0, 0.07);
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .icons div {
  padding: 0 20px 0 0;
  color: var(--bb-alternate-text-color);
  float: left;
  text-align: left;
  line-height: 1.5em;
  width: auto;
  font-size: 16px;
  top: 0;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .icons div:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 5px;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .icons div:after {
  display: none;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .icons .salary:before {
  content: "\f3d1";
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .icons .location:before {
  content: "\f5a0";
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .icons .applications:before {
  content: "\f4fc";
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .listing-title .icons .posted:before {
  content: "\f783";
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header ul.meta {
  display: flex;
  justify-content: left;
  margin: 10px 0 25px 0;
}
@media (min-width: 576px) {
  #spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header ul.meta {
    justify-content: end;
    margin: 0;
  }
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header ul.meta li {
  border-radius: 3px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  color: #888;
  padding: 4px 8px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  min-width: 76px;
  margin: 2px 0 2px 4px;
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .chevron {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
@media (min-width: 576px) {
  #spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .chevron {
    padding-left: 1em;
    height: 40px;
  }
}
#spaces-wpjm ul.job_listings .job_listing .wpe-wps-job-header .chevron i {
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  #spaces-wpjm ul.job_listings .job_listing .single_job_listing {
    flex-direction: row;
    gap: 1em;
  }
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details {
  display: flex;
  gap: 25px;
  flex-direction: column;
  flex: 1;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  color: var(--bb-alternate-text-color);
  float: left;
  text-align: left;
  line-height: 1.5em;
  width: auto;
  font-size: 16px;
  top: 0;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates div {
  padding: 0 20px 0 0;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates div label {
  color: var(--bb-alternate-text-color);
  line-height: 1.5em;
  font-size: 16px;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates div:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 600;
  margin-right: 5px;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates div.posted:before {
  content: "\f783";
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates div.application-deadline {
  color: var(--bb-danger-color);
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates div.application-deadline label {
  color: var(--bb-danger-color);
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates div.application-deadline:before {
  content: "\f017";
}
@media (min-width: 1024px) {
  #spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_dates {
    flex-direction: row;
  }
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-details .job_description {
  flex: 1;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-data {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 1em;
  display: flex;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-data .job_application {
  margin: 0;
  width: 100%;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-data .job_application .application_details {
  display: none;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-data .job_application .application_details fieldset input[type=file] {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: var(--bb-primary-color);
  background-color: var(--bb-content-background-color);
  border: 2px dashed var(--bb-content-border-color);
  width: 100%;
  text-align: center;
  padding: 2em 1em;
  display: inline-block;
  float: none;
  cursor: pointer;
  z-index: 0;
  opacity: 1;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-data .spaces-wpjm-applications a {
  padding: 0;
  display: inline;
  background: none;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-data .button {
  width: 100%;
  margin: 0.5em 0;
}
@media (min-width: 576px) {
  #spaces-wpjm ul.job_listings .job_listing .single_job_listing .job-data .button {
    width: auto;
    margin: 0 0.5em 0 0;
  }
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .spaces-wpjm-job-sidebar .spaces-wpjm-location {
  margin-bottom: 20px;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .spaces-wpjm-job-sidebar .spaces-wpjm-location iframe {
  width: 100%;
}
@media (min-width: 768px) {
  #spaces-wpjm ul.job_listings .job_listing .single_job_listing .spaces-wpjm-job-sidebar .spaces-wpjm-location iframe {
    width: auto;
  }
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .spaces-wpjm-job-sidebar .contact_button {
  width: 100%;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .application_button {
  padding: 10px 40px;
  font-size: 15px;
}
#spaces-wpjm ul.job_listings .job_listing .single_job_listing .contact_button:hover {
  background-color: var(--bb-primary-button-background-hover);
}
#spaces-wpjm ul.job_listings .job_listing.open {
  box-shadow: 0 3px 24px 0 rgba(18, 43, 70, 0.08);
}
#spaces-wpjm ul.job_listings .job_listing.open .wpe-wps-job-header {
  box-shadow: none;
  background-color: var(--bb-content-alternate-background-color);
}
#spaces-wpjm ul.job_listings .job_listing.open .wpe-wps-job-header h3 {
  color: var(--bb-primary-color);
}
#spaces-wpjm ul.job_listings .job_listing.open .wpe-wps-job-header .chevron i {
  transform: rotate(180deg);
  color: var(--bb-primary-color);
}
#spaces-wpjm ul.job_listings .job_listing.open .single_job_listing .application_details a {
  display: inline;
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: initial;
}
#spaces-wpjm #wpe-wps-jobs-dashboard .job-manager-jobs th {
  background-color: #333;
  color: #fff;
  border-right: 1px solid #555;
  text-align: center;
}
#spaces-wpjm #wpe-wps-jobs-dashboard .job-manager-jobs th.job_title {
  text-align: left;
}
#spaces-wpjm #wpe-wps-jobs-dashboard .job-manager-jobs td {
  text-align: center;
}
#spaces-wpjm #wpe-wps-jobs-dashboard .job-manager-jobs td.job_title {
  text-align: left;
}
#spaces-wpjm #wpe-wps-jobs-dashboard .job-manager-jobs .date {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
